.bg-img{
    background-image: url(https://www.hdfcergo.com/assets/images/default-source/campaign/bg-allinoneweb.webp);
    background-repeat: no-repeat;
    background-size: 100%;}


    .category-section{
        height: 300px;
    }